//
//  Flexgrid demo variables
//  ---------------------------------------------

$color--purple: #9d66c7;
$color--blue: #4cbef4;
$color--gray-dark: #666;

$col__background-color: $color--purple;
$col__color: #fff;
$col__height: 30px;

$col-example__indent: $grid__gutter;
