//
//  Variables
//  _____________________________________________

$grid__columns: 12;
$grid__gutter:  10px;

$name__X: X;
$name__S: S;
$name__M: M;
$name__L: L;
$name__XL: XL;

$break__S:  480px;
$break__M:  768px;
$break__L:  1024px;
$break__XL: 1440px;

$screen__S:  $break__S + 1;
$screen__M:  $break__M + 1;
$screen__L:  $break__L + 1;
$screen__XL: $break__XL + 1;
