//
//  Variables
//  _____________________________________________

$grid__columns: 12;
$grid__gutter:  20px;

$screen__XS: 320px;
$screen__S:  460px;
$screen__M:  768px;
$screen__L:  1024px;
$screen__XL: 1440px;