//
//  Flexgrid demo variables
//  ---------------------------------------------

$color__purple: #9d66c7;
$color__blue: #4cbef4;
$color__gray-dark: #666;

$col__background-color: $color__purple;
$col__color: #fff;
$col__height: 30px;

$col-example__indent: $grid__gutter;
