//
//  Flexgrid demo
//  ---------------------------------------------
@import '../../src/styles/flexgrid';
@import '_variables.scss';
@import '_prism.scss';
@import '_icons.scss';

*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $color__gray-dark;
}

h1, h2, h3 {
    font-weight: 300;
    margin-top: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
    code {
        font-size: 14px;
    }
}

pre[class*='language-'] {
    margin-top: 0;
    margin-bottom: 2em;
}

ul {
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0;
    li {
        display: block;
        margin-bottom: .5em;
        &:before {
            content: '\2014';
            margin-right: .5em;
        }
    }
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: 600;
    display: block;
    margin-bottom: .25em;
}

dd {
    margin: 0 0 1em;
    display: block;
}

p {
    margin-top: 0;
    margin-bottom: 2em;
}

a {
    color: $color__blue;
    &:hover {
        color: darken($color__blue, 5%);
    }
}

img {
    width: auto;
    max-width: 100%;
}

.main {
    max-width: 1024px;
    margin: 0 auto;
    padding: $col__height;
}

.header-actions {
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
    @media (min-width: $screen__M) {
        text-align: right;
        margin-bottom: 10px;
        margin-top: 13px;
    }
}

.page-title {
    font-weight: 300;
    margin-bottom: .25em;
    font-size: 3em;
    text-align: center;
    @media (min-width: $screen__M) {
        text-align: left;
    }
    .accent-text {
        color: $color__purple;
    }
}

.page-description {
    font-weight: 300;
    font-size: 16px;
    border-bottom: 1px dashed;
    padding-bottom: 2em;
}

.section-example {
    margin-bottom: 1.5em;
}

.row-example {
    background-color: lighten($color__purple, 30%);
    margin-bottom: 3px;
    small {
        display: inline-block;
        padding: .5em 1em;
    }
}

.col-content-example-wrap,
.col-content-example {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $col__color;
    font-weight: 300;
    font-size: $col-example__indent + 1px;
}

.col-content-example-wrap {
    background-color: #b58bd5;
    padding: 10px 0 9px;
    .col-content-example {
        margin-top: 10px;
    }
}

.col-content-example {
    background-color: $col__background-color;
    margin-bottom: $col-example__indent;
    padding: $col-example__indent - 1px $col-example__indent $col-example__indent + 1px;
}

.col-content-example-x2 {
    padding: $col-example__indent * 3 - 1px $col-example__indent $col-example__indent * 3 + 1px;
}

.line-sass-class,
.line-sass-variable {
    margin-right: .25em;
    margin-left: .25em;
    font-family: monospace;
}

.line-sass-class {
    color: #07a;
}

.line-sass-variable {
    color: #e90;
}

.code-block-description {
    font-size: 13px;
    margin-bottom: .5em;
}

.btn {
    display: inline-block;
    border: 1px solid $color__gray-dark;
    border-radius: 3px;
    padding: .5em 15px .5em 38px;
    color: $color__gray-dark;
    text-decoration: none;
    transition-property: color, border-color;
    transition-timing-function: linear;
    transition-duration: .15s;
    font-weight: 300;
    margin: 0 5px 10px;
    font-size: 15px;
    position: relative;
    &:hover {
        border-color: $color__blue;
        color: $color__blue;
    }
    &:active {
        transform: scale(.95);
    }
    &:before {
        position: absolute;
        top: 50%;
        margin-top: -9px;
        left: 15px;
        font-size: 20px;
    }
}

.btn-github {
    &:before {
        @extend %icon;
        content: $icon-github;
    }
}

.btn-download-css {
    &:before {
        @extend %icon;
        content: $icon-css3;
        font-size: 18px;
        margin-top: -7px;
    }
}

.btn-download-scss {
    &:before {
        @extend %icon;
        content: $icon-file-zip-o;
        font-size: 18px;
        margin-top: -7px;
    }
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 13px;
    font-family: monospace;
    background: #F5F0F5;
    border-radius: 5px;
}

//  Stretch example

[class*='--stretch'] {
    height: 150px;
    [class*='X'] {
        position: relative;
        .col-content-example {
            position: absolute;
            top: 0;
            right: 5px;
            left: 5px;
            bottom: 0;
        }
    }
}

.nav {
    display: none;
    @media (min-width: $screen__M) {
        position: fixed;
        display: block;
    }
    h4 {
        margin-top: 22px;
    }
    ul {
        li {
            &:hover {
                &:before {
                    color: $color__blue;
                }
            }
        }
        ul {
            margin-top: 5px;
            margin-bottom: 0;
            margin-left: 25px;
            li {
                font-size: 12px;
                margin-bottom: 3px;
                &:before {
                    content: '\2013';
                }
            }
        }
    }
    a {
        color: $color__gray-dark;
        text-decoration: none;
    }
}
