@charset "UTF-8";
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px; }

.row-reverse {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.col-reverse {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.X1, .S1, .M1, .L1, .XL1, .X2, .S2, .M2, .L2, .XL2, .X3, .S3, .M3, .L3, .XL3, .X4, .S4, .M4, .L4, .XL4, .X5, .S5, .M5, .L5, .XL5, .X6, .S6, .M6, .L6, .XL6, .X7, .S7, .M7, .L7, .XL7, .X8, .S8, .M8, .L8, .XL8, .X9, .S9, .M9, .L9, .XL9, .X10, .S10, .M10, .L10, .XL10, .X11, .S11, .M11, .L11, .XL11, .X12, .S12, .M12, .L12, .XL12 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px; }

.X1 {
  -webkit-flex-basis: 8.333%;
      -ms-flex-preferred-size: 8.333%;
          flex-basis: 8.333%;
  max-width: 8.333%; }

.X2 {
  -webkit-flex-basis: 16.667%;
      -ms-flex-preferred-size: 16.667%;
          flex-basis: 16.667%;
  max-width: 16.667%; }

.X3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%; }

.X4 {
  -webkit-flex-basis: 33.333%;
      -ms-flex-preferred-size: 33.333%;
          flex-basis: 33.333%;
  max-width: 33.333%; }

.X5 {
  -webkit-flex-basis: 41.667%;
      -ms-flex-preferred-size: 41.667%;
          flex-basis: 41.667%;
  max-width: 41.667%; }

.X6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%; }

.X7 {
  -webkit-flex-basis: 58.333%;
      -ms-flex-preferred-size: 58.333%;
          flex-basis: 58.333%;
  max-width: 58.333%; }

.X8 {
  -webkit-flex-basis: 66.667%;
      -ms-flex-preferred-size: 66.667%;
          flex-basis: 66.667%;
  max-width: 66.667%; }

.X9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%; }

.X10 {
  -webkit-flex-basis: 83.333%;
      -ms-flex-preferred-size: 83.333%;
          flex-basis: 83.333%;
  max-width: 83.333%; }

.X11 {
  -webkit-flex-basis: 91.667%;
      -ms-flex-preferred-size: 91.667%;
          flex-basis: 91.667%;
  max-width: 91.667%; }

.X12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%; }

.X0-off {
  margin-left: 0%; }

.X1-off {
  margin-left: 8.333%; }

.X2-off {
  margin-left: 16.667%; }

.X3-off {
  margin-left: 25%; }

.X4-off {
  margin-left: 33.333%; }

.X5-off {
  margin-left: 41.667%; }

.X6-off {
  margin-left: 50%; }

.X7-off {
  margin-left: 58.333%; }

.X8-off {
  margin-left: 66.667%; }

.X9-off {
  margin-left: 75%; }

.X10-off {
  margin-left: 83.333%; }

.X11-off {
  margin-left: 91.667%; }

.X12-off {
  margin-left: 100%; }

@media (min-width: 481px) {
  .S1 {
    -webkit-flex-basis: 8.333%;
        -ms-flex-preferred-size: 8.333%;
            flex-basis: 8.333%;
    max-width: 8.333%; }
  .S2 {
    -webkit-flex-basis: 16.667%;
        -ms-flex-preferred-size: 16.667%;
            flex-basis: 16.667%;
    max-width: 16.667%; }
  .S3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .S4 {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%; }
  .S5 {
    -webkit-flex-basis: 41.667%;
        -ms-flex-preferred-size: 41.667%;
            flex-basis: 41.667%;
    max-width: 41.667%; }
  .S6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .S7 {
    -webkit-flex-basis: 58.333%;
        -ms-flex-preferred-size: 58.333%;
            flex-basis: 58.333%;
    max-width: 58.333%; }
  .S8 {
    -webkit-flex-basis: 66.667%;
        -ms-flex-preferred-size: 66.667%;
            flex-basis: 66.667%;
    max-width: 66.667%; }
  .S9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .S10 {
    -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
            flex-basis: 83.333%;
    max-width: 83.333%; }
  .S11 {
    -webkit-flex-basis: 91.667%;
        -ms-flex-preferred-size: 91.667%;
            flex-basis: 91.667%;
    max-width: 91.667%; }
  .S12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .S0-off {
    margin-left: 0%; }
  .S1-off {
    margin-left: 8.333%; }
  .S2-off {
    margin-left: 16.667%; }
  .S3-off {
    margin-left: 25%; }
  .S4-off {
    margin-left: 33.333%; }
  .S5-off {
    margin-left: 41.667%; }
  .S6-off {
    margin-left: 50%; }
  .S7-off {
    margin-left: 58.333%; }
  .S8-off {
    margin-left: 66.667%; }
  .S9-off {
    margin-left: 75%; }
  .S10-off {
    margin-left: 83.333%; }
  .S11-off {
    margin-left: 91.667%; }
  .S12-off {
    margin-left: 100%; } }

@media (min-width: 769px) {
  .M1 {
    -webkit-flex-basis: 8.333%;
        -ms-flex-preferred-size: 8.333%;
            flex-basis: 8.333%;
    max-width: 8.333%; }
  .M2 {
    -webkit-flex-basis: 16.667%;
        -ms-flex-preferred-size: 16.667%;
            flex-basis: 16.667%;
    max-width: 16.667%; }
  .M3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .M4 {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%; }
  .M5 {
    -webkit-flex-basis: 41.667%;
        -ms-flex-preferred-size: 41.667%;
            flex-basis: 41.667%;
    max-width: 41.667%; }
  .M6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .M7 {
    -webkit-flex-basis: 58.333%;
        -ms-flex-preferred-size: 58.333%;
            flex-basis: 58.333%;
    max-width: 58.333%; }
  .M8 {
    -webkit-flex-basis: 66.667%;
        -ms-flex-preferred-size: 66.667%;
            flex-basis: 66.667%;
    max-width: 66.667%; }
  .M9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .M10 {
    -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
            flex-basis: 83.333%;
    max-width: 83.333%; }
  .M11 {
    -webkit-flex-basis: 91.667%;
        -ms-flex-preferred-size: 91.667%;
            flex-basis: 91.667%;
    max-width: 91.667%; }
  .M12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .M0-off {
    margin-left: 0%; }
  .M1-off {
    margin-left: 8.333%; }
  .M2-off {
    margin-left: 16.667%; }
  .M3-off {
    margin-left: 25%; }
  .M4-off {
    margin-left: 33.333%; }
  .M5-off {
    margin-left: 41.667%; }
  .M6-off {
    margin-left: 50%; }
  .M7-off {
    margin-left: 58.333%; }
  .M8-off {
    margin-left: 66.667%; }
  .M9-off {
    margin-left: 75%; }
  .M10-off {
    margin-left: 83.333%; }
  .M11-off {
    margin-left: 91.667%; }
  .M12-off {
    margin-left: 100%; } }

@media (min-width: 1025px) {
  .L1 {
    -webkit-flex-basis: 8.333%;
        -ms-flex-preferred-size: 8.333%;
            flex-basis: 8.333%;
    max-width: 8.333%; }
  .L2 {
    -webkit-flex-basis: 16.667%;
        -ms-flex-preferred-size: 16.667%;
            flex-basis: 16.667%;
    max-width: 16.667%; }
  .L3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .L4 {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%; }
  .L5 {
    -webkit-flex-basis: 41.667%;
        -ms-flex-preferred-size: 41.667%;
            flex-basis: 41.667%;
    max-width: 41.667%; }
  .L6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .L7 {
    -webkit-flex-basis: 58.333%;
        -ms-flex-preferred-size: 58.333%;
            flex-basis: 58.333%;
    max-width: 58.333%; }
  .L8 {
    -webkit-flex-basis: 66.667%;
        -ms-flex-preferred-size: 66.667%;
            flex-basis: 66.667%;
    max-width: 66.667%; }
  .L9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .L10 {
    -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
            flex-basis: 83.333%;
    max-width: 83.333%; }
  .L11 {
    -webkit-flex-basis: 91.667%;
        -ms-flex-preferred-size: 91.667%;
            flex-basis: 91.667%;
    max-width: 91.667%; }
  .L12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .L0-off {
    margin-left: 0%; }
  .L1-off {
    margin-left: 8.333%; }
  .L2-off {
    margin-left: 16.667%; }
  .L3-off {
    margin-left: 25%; }
  .L4-off {
    margin-left: 33.333%; }
  .L5-off {
    margin-left: 41.667%; }
  .L6-off {
    margin-left: 50%; }
  .L7-off {
    margin-left: 58.333%; }
  .L8-off {
    margin-left: 66.667%; }
  .L9-off {
    margin-left: 75%; }
  .L10-off {
    margin-left: 83.333%; }
  .L11-off {
    margin-left: 91.667%; }
  .L12-off {
    margin-left: 100%; } }

@media (min-width: 1441px) {
  .XL1 {
    -webkit-flex-basis: 8.333%;
        -ms-flex-preferred-size: 8.333%;
            flex-basis: 8.333%;
    max-width: 8.333%; }
  .XL2 {
    -webkit-flex-basis: 16.667%;
        -ms-flex-preferred-size: 16.667%;
            flex-basis: 16.667%;
    max-width: 16.667%; }
  .XL3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .XL4 {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%; }
  .XL5 {
    -webkit-flex-basis: 41.667%;
        -ms-flex-preferred-size: 41.667%;
            flex-basis: 41.667%;
    max-width: 41.667%; }
  .XL6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .XL7 {
    -webkit-flex-basis: 58.333%;
        -ms-flex-preferred-size: 58.333%;
            flex-basis: 58.333%;
    max-width: 58.333%; }
  .XL8 {
    -webkit-flex-basis: 66.667%;
        -ms-flex-preferred-size: 66.667%;
            flex-basis: 66.667%;
    max-width: 66.667%; }
  .XL9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .XL10 {
    -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
            flex-basis: 83.333%;
    max-width: 83.333%; }
  .XL11 {
    -webkit-flex-basis: 91.667%;
        -ms-flex-preferred-size: 91.667%;
            flex-basis: 91.667%;
    max-width: 91.667%; }
  .XL12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .XL0-off {
    margin-left: 0%; }
  .XL1-off {
    margin-left: 8.333%; }
  .XL2-off {
    margin-left: 16.667%; }
  .XL3-off {
    margin-left: 25%; }
  .XL4-off {
    margin-left: 33.333%; }
  .XL5-off {
    margin-left: 41.667%; }
  .XL6-off {
    margin-left: 50%; }
  .XL7-off {
    margin-left: 58.333%; }
  .XL8-off {
    margin-left: 66.667%; }
  .XL9-off {
    margin-left: 75%; }
  .XL10-off {
    margin-left: 83.333%; }
  .XL11-off {
    margin-left: 91.667%; }
  .XL12-off {
    margin-left: 100%; } }

.col-start {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start; }

.col-center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.col-end {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end; }

.col-top {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.col-middle {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.col-bottom {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.col-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.col-between {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.col-first {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1; }

.col-last {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+less+powershell+scss+stylus&plugins=autolinker+show-language+highlight-keywords */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token a {
  color: inherit; }

pre[class*='language-'] {
  position: relative; }

pre[class*='language-'][data-language]::before {
  content: attr(data-language);
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none; }

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Font Awesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesome-webfont") format("svg"); }

.btn-github:before, .btn-download-css:before, .btn-download-scss:before {
  display: inline-block;
  font-family: "Font Awesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

*,
*:after,
*:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #666; }

h1, h2, h3 {
  font-weight: 300;
  margin-top: 0; }

h2 {
  font-size: 30px; }

pre[class*='language-'] {
  margin-top: 0;
  margin-bottom: 2em; }

ul {
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0; }
  ul li {
    display: block;
    margin-bottom: .5em; }
    ul li:before {
      content: '\2014';
      margin-right: .5em; }

dl {
  margin: 0;
  padding: 0; }

dt {
  font-weight: 600;
  display: block;
  margin-bottom: .25em; }

dd {
  margin: 0 0 1em;
  display: block; }

p {
  margin-top: 0;
  margin-bottom: 2em; }

a {
  color: #4cbef4; }
  a:hover {
    color: #34b5f3; }

img {
  width: auto;
  max-width: 100%; }

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px; }

.header-actions {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center; }
  @media (min-width: 769px) {
    .header-actions {
      text-align: right;
      margin-bottom: 10px;
      margin-top: 13px; } }

.page-title {
  font-weight: 300;
  margin-bottom: .25em;
  font-size: 3em;
  text-align: center; }
  @media (min-width: 769px) {
    .page-title {
      text-align: left; } }
  .page-title .accent-text {
    color: #9d66c7; }

.page-description {
  font-weight: 300;
  font-size: 16px;
  border-bottom: 1px dashed;
  padding-bottom: 2em; }

.section-example {
  margin-bottom: 1.5em; }

.col-content-example-wrap,
.col-content-example {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-weight: 300;
  font-size: 11px; }

.col-content-example-wrap {
  background-color: #b58bd5;
  padding: 10px 0 9px; }
  .col-content-example-wrap .col-content-example {
    margin-top: 10px; }

.col-content-example {
  background-color: #9d66c7;
  margin-bottom: 10px;
  padding: 9px 10px 11px; }

.line-sass-class,
.line-sass-variable {
  margin-right: .25em;
  margin-left: .25em;
  font-family: monospace; }

.line-sass-class {
  color: #07a; }

.line-sass-variable {
  color: #e90; }

.code-block-description {
  font-size: 13px;
  margin-bottom: .5em; }

.btn {
  display: inline-block;
  border: 1px solid #666;
  border-radius: 3px;
  padding: 0.5em 15px 0.5em 38px;
  color: #666;
  text-decoration: none;
  transition-property: color, border-color;
  transition-timing-function: linear;
  transition-duration: .15s;
  font-weight: 300;
  margin: 0 5px 10px;
  font-size: 15px;
  position: relative; }
  .btn:hover {
    border-color: #4cbef4;
    color: #4cbef4; }
  .btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95); }
  .btn:before {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 15px;
    font-size: 20px; }

.btn-github:before {
  content: ""; }

.btn-download-css:before {
  content: "";
  font-size: 18px;
  margin-top: -7px; }

.btn-download-scss:before {
  content: "";
  font-size: 18px;
  margin-top: -7px; }

code[class*="language-"],
pre[class*="language-"] {
  font-size: 13px;
  font-family: monospace;
  background: #F5F0F5;
  border-radius: 5px; }